<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App registro alumnos</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="row">
        <div class="col">::.. REGISTRO DE ALUMNOS .::</div>
    </div>
    <div class="container-fluid">
        <div id="app">
            <div class="row">
                <div class="col col-md-7">
                    <div class="row p-1">
                        <div class="col col-md-2">CODIGO</div>
                        <div class="col col-md-3">
                            <input v-model="producto.codigo" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">NOMBRE</div>
                        <div class="col col-md-3">
                            <input v-model="producto.nombre" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">DIRECCION</div>
                        <div class="col col-md-3">
                            <input v-model="producto.direccion" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">MUNICIPIO</div>
                        <div class="col col-md-3">
                            <input v-model="producto.municipio" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">DEPARTAMENTO</div>
                        <div class="col col-md-3">
                            <input v-model="producto.departamento" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">TELEFONO</div>
                        <div class="col col-md-2">
                            <input v-model="producto.telefono" type="tel" maxlength="9" class="form-control">
                        </div>
                    </div>         
                    <div class="row p-1">
                        <div class="col col-md-2">FECHA DE NACIMIENTO</div>
                        <div class="col col-md-3">
                            <input v-model="producto.nacimiento" type="date" class="form-control">
                        </div>
                    </div>
                    <div class="row p-1">
                        <div class="col col-md-2">SEXO</div>
                        <div class="col col-md-2">
                            <select v-model="producto.sexo" class="form-control">
                                <option value="masculino">Masculino</option>
                                <option value="femenino">Femenino</option>
                            </select>
                        </div>
                    </div>
                    <div class="row p-4">
                        <div class="col">
                            <button @click.prevent.default="guardarProducto" class="btn btn-success">GUARDAR</button>
                            <button @click.prevent.default="nuevoProducto" class="btn btn-warning">NUEVO</button>
                        </div>
                    </div>
                </div>
                <div class="col col-md-5.2 ms-md-auto mt-md-3 float-left" >
                    <form id="frmProducto">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>BUSCAR</th>
                                    <th colspan="9">
                                        <input placeholder="codigo, nombre, direccion, municipio, departamento, sexo" type="search" v-model="valor" @keyup="buscarProducto" class="form-control">
                                    </th>
                                </tr>
                                <tr>
                                    <th>CODIGO</th>
                                    <th>NOMBRE</th>
                                    <th>DIRECCION</th>
                                    <th>MUNICIPIO</th>
                                    <th>DEPARTAMENTO</th>
                                    <th>TELEFONO</th>
                                    <th>FECHA DE NACIMIENTO</th>
                                    <th>SEXO</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr @click="modificarProducto(producto)" v-for="producto in productos" :key="producto.idProducto">
                                    <td>{{producto.codigo}}</td>
                                    <td>{{producto.nombre}}</td>
                                    <td>{{producto.direccion}}</td>
                                    <td>{{producto.municipio}}</td>
                                    <td>{{producto.departamento}}</td>
                                    <td>{{producto.telefono}}</td>
                                    <td>{{producto.nacimiento}}</td>
                                    <td>{{producto.sexo}}</td>
                                    <td><button @click.prevent.default="eliminarProducto(producto.idProducto)" class="btn btn-danger">delete</button></td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.16/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data:{
                valor:'',
                productos:[],
                accion:'nuevo',
                producto:{
                    idProducto: new Date().getTime(),
                    codigo:'',
                    nombre:'',
                    direccion:'',
                    municipio:'',
                    departamento:'',
                    telefono:'',
                    nacimiento:'',
                    sexo:''
                }
            },
            methods:{
                buscarProducto(e){
                    if( e.keyCode==8 ){
                        this.listarProductos();
                    }
                    this.productos = this.productos.filter(producto=>producto.codigo.includes(this.valor) || producto.nombre.toLowerCase().includes(this.valor.toLowerCase()) || producto.direccion.toLowerCase().includes(this.valor.toLowerCase()) || producto.municipio.toLowerCase().includes(this.valor.toLowerCase()) || producto.departamento.toLowerCase().includes(this.valor.toLowerCase()) || producto.sexo.toLowerCase().includes(this.valor.toLowerCase()));
                },
                eliminarProducto(idProducto){
                    if( confirm(`Esta seguro de elimina el producto?`) ){
                        let buscar = this.productos.findIndex(producto=>producto.idProducto==idProducto);
                        this.productos.splice(buscar,1);
                        localStorage.setItem('productos', JSON.stringify(this.productos));
                    }
                },
                modificarProducto(producto){
                    this.accion = 'modificar';
                    this.producto = producto;
                },
                guardarProducto(){
                    // Verificar si al menos el campo "nombre" está lleno
                    if (!this.producto.nombre.trim()) {
                        alert('Por favor, ingrese el nombre del alumno.');
                        return;
                    }
                    if (!this.producto.direccion.trim()) {
                        alert('Por favor, ingrese la direccion del alumno.');
                        return;
                    }
                    if (!this.producto.municipio.trim()) {
                        alert('Por favor, ingrese el municipio del alumno.');
                        return;
                    }
                    if (!this.producto.departamento.trim()) {
                        alert('Por favor, ingrese el departamento del alumno.');
                        return;
                    }
                    if (!this.producto.telefono.trim()) {
                        alert('Por favor, ingrese el telefono del alumno.');
                        return;
                    }
                    if (!this.producto.nacimiento.trim()) {
                        alert('Por favor, ingrese la fecha de nacimiento del alumno.');
                        return;
                    }
                    if (!this.producto.sexo.trim()) {
                        alert('Por favor, ingrese el genero del alumno.');
                        return;
                    }
                    //Verificacion de codigo no repetido
                    if (this.productos.some(producto => producto.codigo === this.producto.codigo && producto.idProducto !== this.producto.idProducto)) {
                        alert('El código ya existe. Por favor, ingrese un código diferente.');
                    return;
                    }
                    //almacenamiento del objeto productos en localStorage
                    if( this.accion == 'nuevo' ){
                        this.productos.push(this.producto);
                    }else if(this.accion == "modificar"){
                        let buscar = this.productos.findIndex(producto => producto.idProducto==this.producto.idProducto);
                        this.productos[buscar] = this.producto;
                    }
                    localStorage.setItem('productos', JSON.stringify(this.productos));
                    this.nuevoProducto();
                },
                nuevoProducto(){
                    this.accion = 'nuevo';
                    this.producto = {
                        idProducto: new Date().getTime(),
                        codigo:'',
                        nombre:'',
                        direccion:'',
                        municipio:'',
                        departamento:'',
                        telefono:'',
                        nacimiento:'',
                        sexo:''
                    }
                },
                listarProductos(){
                    this.productos = JSON.parse(localStorage.getItem('productos') || "[]");
                }
            },
            created(){
                this.listarProductos();
            }
        })
    </script>
</body>
</html>